<header class="uk-background-primary uk-light  uk-padding-small uk-flex uk-flex-middle uk-flex-between">

  <a class="uk-logo " href="#">
    <img src="https://getuikit.com/images/uikit-logo.svg" alt="LOGO">
  </a>

  <nav uk-dropnav class="uk-navbar ">
    <ul class="uk-subnav uk-margin-auto-vertical">
      <li>
        <a href="#">Catalog <span uk-drop-parent-icon></span></a>
        <div class="uk-dropdown ">
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#"><span class="uk-text-danger">New</span>Electronics </a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#"><span class="uk-text-danger">New</span>Books</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Tools</a></li>

          </ul>
        </div>
      </li>
      <li>
        <a href="#">News <span uk-drop-parent-icon></span></a>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#"><span class="uk-text-danger">New</span>Latest </a></li>
            <li><a href="#"> Popular</a></li>
            <li><a href="#">Thematic</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Contacts <span uk-drop-parent-icon></span></a>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#">test213@test.dev</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li> <a href="#">YouTube <span class="uk-text-danger">New</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

  <nav uk-dropnav class="uk-navbar ">
    <ul class="uk-subnav uk-margin-auto-vertical">
      <li>
        <a href="#" class="uk-flex uk-flex-middle uk-link-heading">
          <span class="uk-margin-small-right uk-text-meta ">Vasiliy Pupkin<span uk-drop-parent-icon></span></span>
          <svg class="" style="width: 30px; height: 30px; fill: rgba(255, 255, 255, 0.5);">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </a>
        <div class="uk-dropdown ">
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Favorites
                <img src="img/svg/heart.svg" class='uk-margin-small-left' alt="Favorites" width="20" height="20" uk-svg>
              </a></li>
            <li><a href="#">Cart
                <img src="img/svg/cart.svg" class='uk-margin-small-left' alt="Cart" width="20" height="20" uk-svg>
              </a></li>
            <li><a href="#">Logout
                <img src="img/svg/exit.svg" class='uk-margin-small-left' alt="logout" width="20" height="20" uk-svg>
              </a></li>

          </ul>
        </div>
      </li>

    </ul>
  </nav>



</header>
